* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  min-width: 300px;
  padding: 2rem 2rem;
  background-color: rgb(51, 51, 51);
  border-radius: 20px;
  color: whitesmoke;
}
